name: CD

on:
  push:
    branches: [ "develop" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ngoduongkha/petamin-server:latest
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy in EC2
        env:
            EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY  }}
            EC2_IP_PUBLIC : ${{ secrets.EC2_IP_PUBLIC  }}
            USER_NAME : ec2-user
            
        run: |
          echo "$EC2_SSH_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${EC2_IP_PUBLIC} '
            docker-compose pull
            docker-compose up --force-recreate --build -d
            docker image prune -f
          '